.home{
  background: #767887;
  min-height: 100vh;
  min-width: 99vw;
  max-width: 90vw;
  padding: 1vh 0 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}